Why Learn Python in 2023: 

1. **Ease of Learning**: Python is known for its simplicity and readability. Its syntax is straightforward and resembles pseudocode (or plain English), making it an ideal choice for scientists who may not have extensive programming experience.

2. **Wide Adoption**: Python has gained widespread adoption in the scientific community. Many scientific libraries, tools, and frameworks are available in Python, making it easier to leverage existing resources.

3. **Abundance of Libraries**: Python has a rich ecosystem of scientific libraries such as NumPy, SciPy, pandas, Pytorch, Matplotlib, and more.

4. **Interactivity**: Python's interactive nature, especially when used in Jupyter Notebooks (like Google Colab), allows scientists to explore data, run experiments, and visualize results in a dynamic and intuitive way. No need to compile every time! 

5. **Integration**: Python can easily integrate with other tools and languages

6. **Machine Learning and Data Science**: Python has become the language of choice for machine learning and data science. 

7. **Community Support**: Python boasts a large and active user community. This means that scientists have access to a wealth of resources, including forums, documentation, and open-source projects, which can be invaluable.

8. **Cross-Platform Compatibility**: Python is available on multiple platforms (Windows, macOS, Linux).

9. **Open Source**: Python is open-source, which means it's free to use and modify. 

10. **Career Advancement**: Most job listing in academia and industry require Python skills. Python + science pays a lot!

---
## EXECUTING YOUR FIRST PYTHON CODE

execute command by pressing "play" button on the left    

**shortcuts** are more convenient:   
Ctl + C will execute the cell   
Ctl + Shift will execute the cell and move to the next one

In [10]:
print('Hello World!')

Hello World!

In [ ]:
5

5

üí° lines starting with **#** are not executed - comments 
``` python
# print('something') - comment line  
print('something')   - code line  
```

In [ ]:
# Jupyter can execute code interactively
5 + 7

12



---
## VARIABLES
We did not store any data in previous examples. However, often we need to store it.

**Variable** is the container storing some value. It is created when we assign the value:
Most common **types** are:     

<pre>
*   integer  (int):    0, 17, 3456
*   float    (float):  0.1, 16.7
*   string   (str):    'five', 'string'
*   boolean  (bool):   True, False
*   none     (None):   None
</pre>

```
a = 5    
b = 7
```
üö´ do not name your variables as built-in types - this will overwrite deafault types!
```python
str = 5 #bad naming, str() is built-in conversion to string
````
üí° ALWAYS name variables carefully and meaningfully  
> "Code is read much more often than it is written." Guido van Rossum


üí° you can print variable immediately after assigning it in the interactive mode:

In [11]:
a = 5
b = 7
a
b
# print function was not necessary but you can print only ONE LAST var interactively

7

In [19]:
# to print all variables, use print statements
print('a =', a)
print('b =', b)

a = 5
b = 7

üí° vars could be converted to another type

In [7]:
a = 6      # note that we reassigned var a 
a = str(a) # a is a string now
a

'6'

In [9]:
b = '245'  # b is now string
b + 5      # we cannot sum up them anymore

TypeError: can only concatenate str (not "int") to str

### ‚ùî *assignment 1.1* 
use already defined `b = '245'` and add 5

In [73]:
# your code

b = '245'

### ‚ùî *assignment 1.2*

```python
a = 100
b = 221
```
1. create new variable `c` which stores the sum of `a` and `b`
2. `print` its name and value

In [ ]:
# your code

---
# COMMON OPERATIONS

Python natively supports all common arithemtic operations.

# arithmetic operators


| Operator         | Description                | Example                |
|------------------|----------------------------|------------------------|
| `+`              | Addition                   | `x + y`                |
| `-`              | Subtraction                | `x - y`                |
| `*`              | Multiplication             | `x * y`                |
| `/`              | Division                   | `x / y`                |
| `%`              | Modulus (remainder)        | `x % y`                |
| `**`             | Exponentiation             | `x ** y`               |

In [12]:
# assign variables x,y
x = 12
y = 5

In [13]:
addition = x + y
print('result of addition = ', addition)

result of addition =  17

In [14]:
multiplication = x * y
print('result of multiplication = ', multiplication)

result of multiplication =  60

In [26]:
# add modulus operation and print its result

In practive, numerical data is more often represented by **floats**.    
üí° Be aware, that floats are prone to rounding errors when comparing them directly.

### string operations

We cannot multiply or sum up strings in a tradition arithemethic sense, but these operators still work:

In [15]:
x = 'Hello'
y = 'World'
x + y # string concatenation

'HelloWorld'

In [27]:
# how can we add a whitespace? 
# your code goes here

In [5]:
x = 'Hello'
x * 5

'HelloHelloHelloHelloHello'

In [10]:
# we can capitalize each string
x = 'hello'
x = x.capitalize()
x

'Hello'

In [28]:
# or convert it to lower case
x = 'HELLO'
x = x.lower()
x

'hello'

üí° Often you need to include variables in your string


```
name = Eva
age = 24

```

To include this information into string:

In [30]:
name = 'Eva'
age = 24

greeting = 'Hello! My name is ' + name + '. I am ' + str(age) + ' years old.'
print(greeting)
# this looks messy and it so easy to forget whitespaces
# variables should be converted to strings explicitly

Hello! My name is Eva. I am 24 years old.

In [31]:
# f string formatting

print(f'Hello! My name is {name}. I am {age} years old.')

#note: no excplicit conversion to string 
# no '+' to concatenate, easy to manage whitespaces

Hello! My name is Eva. I am 24 years old.

### ‚ùî *assignment 1.3*

Someone accidintaly and (disrespectfully typed) your university name with lower-case letter and gave you as a variable `university`
1. convert it to upper case; google to find the right method
2. use f-string to tell the world that you are a NDSU student

In [32]:
# complete the code
university = 'ndsu'

### Comparison Operators

Python comparison operators, well, allows you to compare values on either sides of the expression.   
They return Boolean values only: `True`, `False`

| Operator         | Description                | Example                |
|------------------|----------------------------|------------------------|
| `==`             | Equal to                   | `a == b`               |
| `!=`             | Not equal to               | `a != b`               |
| `>`              | Greater than               | `a > b`                |
| `<`              | Less than                  | `a < b`                |
| `>=`             | Greater than or equal to   | `a >= b`               |
| `<=`             | Less than or equal to      | `a <= b`               |

In [94]:
# let's check equality operator
a = 36
b = 12 * 3 
a == b

True

In [97]:
# is a greater than b?
a > b

False

In [98]:
# is a greater or equal to b?
a >= b

True

In [26]:
a = 85
b = '85'
a == b # can you predict the result?

False

In [27]:
a != b

True

### ‚ùî  *assignment 2.1*

recreate `greeting` using `str1` and `str2`   
use comparison operator to prove that your string is identical
you are allowed to modify strings and use all other string methods

In [35]:
greeting = 'Hello World!'

str1 = 'hello'
str2 = 'WORLD!'

---
# DATA STRUCTURES

Python has great arsenal of data structures to hold collection of values. 

| Data Structure   | Description                                       | Example                   |
|------------------|---------------------------------------------------|---------------------------|
| List             | Ordered collection of elements, mutable           | `[1, 2, 3]`               |
| Tuple            | Ordered collection of elements, immutable         | `(1, 2, 3)`               |
| Set              | Unordered collection of unique elements           | `{1, 2, 3}`               |
| Dictionary       | Collection of key-value pairs                    | `{'name': 'John', 'age': 30}` |

üì¢ Python index elements of data starting from **0**. So called zero-based indexing.   
In contrast, Fortran starts indexing at 1.  

**Mutable object** - can be changed after creation - we can delete, or add new values to `[list]`   
**Immutable object** - cannot be modified after creation (we cannot delete or add objects to `(tuple)`

üö´ DO NOT name your data structure with standard names:

```python
list     = [1,2,3] # wrong
my_list  = [1,2,3] # correct
int_list = [1,2,3]

list() is a reserved conversion operation
int_tuple = (1,2,3)         # immutable
int_list  = list(int_tuple) # now mutable
```

## LISTS

üí° Lists are ordered and mutable. They are very useful for colleting data which should be dynamically modified.    

```python
my_list  = [1,2,3] 
```


| Python Operation               | Description                                        | Result                          |
|--------------------------------|----------------------------------------------------|---------------------------------| 
| `my_list.append(4)`            | Append an Element                                  | `[1, 2, 3, 4]`                  |
| `my_list.insert(1, 5)`         | Insert an Element at position 2                    | `[1, 5, 2, 3]`                  |
| `my_list.remove(3)`            | Remove an Element by Value                         | `[1,2]`                         |
| `index = my_list.index(2)`     | Find the Index of an Element                       | `index is now 3`                |
| `my_list.sort()`               | Sort the List in Ascending Order                   | `[1, 2, 3]`                     |
| `my_list.reverse()`            | Reverse the List                                   | `[3, 2, 1]`                     |
| `len(my_list)`                 | Length of list                                     | `3`                            |

üì¢ In this tutorial, almost all tables contain only most common and important operations.   
For more information, consult official Python docs, books or online tutorials.

In [124]:
makes = ['audi', 'bmw', 'toyota', 'subaru']
makes.append('kia') # append modifies list in-place: no = assignment operator
makes

['audi', 'bmw', 'toyota', 'subaru', 'kia']

In [125]:
#alternatively
makes = ['audi', 'bmw', 'toyota', 'subaru']
makes = makes + ['kia'] # the same as append, but not in-place
makes

['audi', 'bmw', 'toyota', 'subaru', 'kia']

In [123]:
makes.reverse() # another in-place method
makes

['kia', 'subaru', 'toyota', 'bmw', 'audi']

## INDEXING and SLICING

**Indexing** and **slicing** allows to check, extract and modify common data structures.   
üì¢ Those are **very common** operations. Practice to master them!

```python
my_list = [10, 20, 30, 40, 50]
```

| Concept                      | Description                                       | Example                                      |
|------------------------------|---------------------------------------------------|----------------------------------------------|
| Indexing                     | Accessing a single element by its position        | `element = my_list[1]`<br>`# element is now 20`                        |
| Negative Indexing            | Accessing elements from the end with negative indices | `element = my_list[-1]`<br>`# element is now 50`                        |
| Slicing                      | Extracting a portion of a sequence    | `subset = my_list[1:4]`<br>`# subset is [20, 30, 40]`                 |
| Slicing with Steps           | Extracting elements with a step (stride)           | `subset = my_list[1:-1:2]`<br>`# subset is [20, 40]`                    |
| Omitting Start or End Index  | Using default start or end indices in slicing     | `subset = my_list[:3]`<br>`# subset is [10, 20, 30]`                 |
| Slicing to the End           | Slicing from a specific index to the end          | `subset = my_list[2:]`<br>`# subset is [30, 40, 50]`                 |
| Slicing with Negative Index  | Using negative indices in slicing                  | `subset = my_list[-3:-1]`<br>`# subset is [30, 40]`                   |
| Reversing a Sequence         | Reversing a list or string using slicing           | `reversed_list = my_list[::-1]`<br>`# reversed_list is [50, 40, 30, 20, 10]` |

In [46]:
# access the first element of the list
makes = ['audi', 'bmw', 'toyota', 'subaru', 'kia']

print('first element of the list =',makes[0])
print('last element of the list =',makes[-1])

first element of the list = audi
last element of the list = kia

In [108]:
# let's select every other make
print('every other element of the list =',makes[::2])

every other element of the list = ['audi', 'toyota', 'kia']

In [111]:
# let's now insert new make at the begginig of the list
makes.insert(0, 'ford')
makes

['ford', 'audi', 'bmw', 'toyota', 'subaru', 'kia']

In [113]:
# INDEXING ALLOWS to REASSIGN VALUES

makes[0] = 'mazda' 
makes

['mazda', 'audi', 'bmw', 'toyota', 'subaru', 'kia']

### ‚ùî  *assignment 3.1*

create a list named `my_list` and containing numbers 10, 20, 30, 40, 50 and perform the following tasks:

a.   append the number 60 to the list.  
b.   insert the number 0 at the beginning of the list.  
c.   remove the number 30 from the list.  
d.   print the modified and sorted list (in DESCENDING ORDER)  
e.   print how many elements are in your list

In [ ]:
# your code

### ‚ùî  *assignment 3.2*

You are preparing a fruit plate for the party. Your friend gave a shopping list in form of a tuple (well, he is a weirdo).    
`fruits = ('apples', 'bananas', 'kiwis', 'peaches')`  

a. You recall that one of the guests is allergic to kiwi.   
b. You also want to add grapes.   
c. Produce section is organized in alphabetical order.   

Create a perfect grocery list!

In [ ]:
# your code

---
### LOOPS and EXECUTION FLOW

"if statements" are the staple of programming. They control how the code is executed based on whether a condition is met:

Typical sontruction is:

```python
if <something>:        
    execute code 
elif <something 2>:     # elif is optional
    execute another code
else:                   # else is also optional
    pass 

```
üì¢ Indentation is superimportant in Python. It contols what will be executed. 
Note how expression under `if` are indented.   
üì¢ Unlike other languages, Python solely relies on identation - no `end if` statements

In [37]:
a = 5
b = 10

if a > b: 
    print('a is greater than b!')
elif a == b:
    print('a is equal to b!')
else:
    print('a is smaller than b!')

a is smaller than b!

#### LOGICAl OPERATORS

Logical operators often augment control over the workflow.

| Operator         | Description                | Example                |
|------------------|----------------------------|------------------------|
| `and`            | Logical AND                | `p and q`              |
| `or`             | Logical OR                 | `p or q`               |
| `not`            | Logical NOT                | `not p`                |

In [128]:
# let's make sure that at least either a or b is greater than 7
a = 5
b = 10
if a > 7 or b > 7: #  NOTE that we need to use logical operators for each variable! if a or b > 7 will always be true
    print('a or b is greater than 7')
else:
    print('a or b is smaller than 7')

a or b is greater than 7

#### FOR LOOPS

In Python, a **for loop** is a control structure that allows you to iterate (loop) over a sequence of items, such as a list, tuple, string, or range.    
It's a fundamental construct used for repetitive tasks like processing elements in a collection, performing calculations, or executing something a specific number of times.

```python
for x in range(start, end, step):  # range creates sequence
    do something
```




```

In [130]:
for x in range(5):  # 
    print(x)

0
1
2
3
4

üí° for loops are often combined with the conditional logic:

In [131]:
for x in range(5):  # range creates sequence
    if x == 3:
        print(x)    
    else:    # both else and pass are redundant here
        pass # do nothing

3

üí° `in` and `not in` are membership operators meaning: **for every x that is in data** or (is not)

In [136]:
# say you want to check if a fruit in one list is in another list

fruits1 = ['apples', 'bananas', 'kiwis', 'peaches']
fruits2 = ['grapes', 'apples']

for f in fruits2:
    if f not in fruits1:
        print('new fruit =', f)

new fruit = grapes

### ‚ùî  *assignment 4.1*

`fruits1 = ['apples', 'bananas', 'kiwis', 'peaches']`    
1. print position and capitalized name of each fruit using for loops
2. find positions of kiwis programmatically üí° hint: check docs for enumerate

In [4]:
# your code

üí° `strings` are iterable!

In [40]:
a = 'Hello World!'

for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d
!

In [6]:
# test if integeres and floats are iterable

### list comrehension - efficient and clean way to create lists

In [3]:
# Create a list of squares for numbers from 1 to 10 using list comprehension
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

üí° general syntax is result_list = `[operation_if_true(item) if condition else operation_if_false(item) for item in input_iterable]`

In [9]:
animals = ["cat", "dog", "elephant", "tiger", "lion", "giraffe", "snake"]

# generate a list with True, if word contains letter "a", False otherwise

contain_a = [True if 'a' in word else False for word in animals]
contain_a

[True, False, True, False, False, True, True]

### ‚ùî  *assignment 4.2*

using list comprehension, capitalize names of the universities and remove the ones starting with letter 'c'

In [ ]:
universities = [
    "mit",
    "harvard",
    "stanford",
    "oxford",
    "cambridge",
    "yale",
    "princeton",
    "caltech",
    "berkeley",
    "columbia"
]

### more control - `break` statement

In [43]:
# Example using 'break' statement
for number in range(1, 11):
    if number == 5:
        print("Found 5, breaking out of the loop")
        break
    print(f"Current number: {number}")

Current number: 1
Current number: 2
Current number: 3
Current number: 4
Found 5, breaking out of the loop

### explanation of 'break' statement

In the code above:
- We have a `for` loop that iterates through numbers from 1 to 10 using the `range()` function.
- Inside the loop, there's an `if` statement that checks if the `number` is equal to 5.
- If `number` is equal to 5, we print a message and then use the `break` statement.
- The `break` statement immediately exits the loop, even if there are more iterations left.

Break can save a lot of time by not iteration the rest of loop when conditions are met.

### more control - `continue` statement

In [51]:
odd_numbers = []
for number in range(1, 11):
    if number % 2 == 0:
        print(f"{number} is even, skipping this iteration")
        continue
    print(f"{number} is odd")
    odd_numbers.append(number)
    
print(f'Odd numbers: {odd_numbers}')

1 is odd
2 is even, skipping this iteration
3 is odd
4 is even, skipping this iteration
5 is odd
6 is even, skipping this iteration
7 is odd
8 is even, skipping this iteration
9 is odd
10 is even, skipping this iteration
Odd numbers: [1, 3, 5, 7, 9]

### explanation of 'continue' statement

In the code above:
- We have a `for` loop that iterates through numbers from 1 to 10 using the `range()` function.
- Inside the loop, there's an `if` statement that checks if the `number` is even (divisible by 2).
- If `number` is even, we print a message and then use the `continue` statement.
- The `continue` statement skips the rest of the current iteration and moves on to the next iteration of the loop.

### ‚ùî  *assignment 4.2*

rewrite `odd number problem` without using `continue` statement

In [ ]:
# your code

### `while` loop

In [ ]:
# Initialize a counter variable
count = 1

# Use a while loop to count from 1 to 5
while count <= 5:
    print(count)
    count += 1

# End of loop
print("Loop finished!")

We use a while loop to create a block of code that will be executed repeatedly as long as the condition count <= 5 is True.

Inside the loop:

 - We print the value of count, which starts at 1 and increments by 1 in each iteration.  
- We also update the value of count using count += 1 to ensure that it increases with each iteration.

The loop continues executing until count becomes greater than 5. Once count reaches 6, the condition count <= 5 becomes False, and the loop exits.

### ‚ùî  *assignment 4.3*

using `while` loop, check which squared natural number is smaller than 9567

print both the n and n^2 number

98
9604

## DICTONARIES

üí° Dictionaries are **mutable**. Starting from Python 3.7 they are also ordered.    

Dictionaries are used to store data values in *key* : *value* pairs.



| Python Syntax              | Description                        | Result for a Specified Dictionary  |
|----------------------------|------------------------------------|-----------------------------------|
| `{}`                       | Create an empty dictionary         | `{}`                              |
| `{'key': 'value'}`         | Create a dictionary with a key-value pair | `{'key': 'value'}`          |
| `my_dict['key']`           | Access a value by key              | `value`                  |
| `my_dict['new_key'] = 'new_value'` | Add a new key-value pair     | `{'key': 'value', 'new_key': 'new_value'}` |
| `del my_dict['key']`       | Remove a key-value pair            | `{'new_key': 'new_value'}`        |
| `'key' in my_dict`         | Check if a key exists              | `True` or `False`                 |
| `my_dict.keys()`           | Get a list of keys                 | `['key', 'new_key']`              |
| `my_dict.values()`         | Get a list of values               | `['value', 'new_value']`          |
| `my_dict.items()`          | Get a list of key-value pairs     | `[('key', 'value'), ('new_key', 'new_value')]` |
| `len(my_dict)`             | Get the number of key-value pairs  | `2`                               |
| `my_dict.clear()`          | Clear all key-value pairs         | `{}`                              |
| `new_dict = my_dict.copy()`| Create a shallow copy              | A copy of the original dictionary  |

### ‚ùî *assignment 5.1*

Modify dictionary to reflect the changes:
1. John moved to Fargo
2. You have an outdated information. John is now older by 3 years. 
3. Sensitive information should be protected! Hide first 5 digits of SSN in format 'xxx-xx-6789'
4. John new occupation is Computational Scientist

print what kind of data you have on John  
how many pieces fo data?   

delete John profile from the system

In [72]:
# complete the code
person = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "SSN" : "123-45-6789",
}

name
age
city
SSN

### ‚ùî*assignment 5.2*

You are a manager of the small grocery store. 

1: Given the current rate of inflation, you decide that you will no longer be selling eggs. Adjust the database accordingly. 
2. Baker just reported that all ingridients went up in price, and now the bread price should be 2.29
3. Calculate the total for customer who just bought coffee, 2 youghurts, bread and is entitled to 1.00 coupon discount

In [1]:
# complete the code
food_items = {'milk'    : 3.49, 
              'bread'   : 1.99, 
              'eggs'    : 6.99, 
              'coffee'  : 4.79, 
              'yoghurt' : 1.19
            
              }

### FINAL ASSIGNMENT:

Someone encoded a molecule as x1y1x2y2x3y3...xnyn where x is atomic number, and y is number of atoms   
Decode it human-readable format. 

Possible elements are: H, C, N, O, F
There will be no more than 9 atoms of each type

Example: 1281 -> H2O

üí° hint: check zip function
üí° list comprehensions could be very useful

In [67]:
# your code

coded_mol1 = 7113
coded_mol2 = 6214