In [ ]:
import torch

In [ ]:
torch.cuda.is_available()

Google Collab - what it is

---
## EXECUTING YOUR FIRST PYTHON CODE

execute command by pressing "play" button on the left    
Ctl + C will execute the cell   
Ctl + Shift will execute the cell and move to the next one

In [ ]:
5

5

üí° lines starting with **#** are not executed - comments 
``` python
# print('something') - comment line  
print('something')   - code line  
```

In [ ]:
5 + 7

12

In [2]:
print('Hello World!')

Hello World!



---
## VARIABLES
We did not store any data in previous examples. However, often we need to store it.

**Variable** is the container storing some value. It is created when we assign the value:
Most common **types** are:     

<pre>
*   integer  (int):    0, 17, 3456
*   float    (float):  0.1, 16.7
*   string   (str):    'five', 'string'
*   boolean  (bool):   True, False
*   none     (None):   None
</pre>

```
a = 5    
b = 7
```
üö´ do not name your variables as built-in types - this will overwrite deafault types!
```python
str = 5 #bad naming, str() is built-in conversion to string
````
üí° ALWAYS name variables carefully and meaningfully  
üí° you can print variable immediately after assigning it in the interactive mode:

In [3]:
a = 5
b = 7
a
b
# print function was not necessary but you can print only ONE LAST var this way

7

In [ ]:
# to print all variables, use print statements
print('a =', a)
print('b =', b)

a = 5
b = 7

üí° vars could be converted to another type

In [7]:
a = 6      # note that we reassigned var a 
a = str(a) # a is a string now
a

'6'

In [9]:
b = '245'  # b is now string
b + 5      # we cannot sum up them anymore

TypeError: can only concatenate str (not "int") to str

In [92]:
index = 1

### ‚ùî *assignment 1.1* 
use already defined `b = '245'` and add 5

In [10]:
# your code

### ‚ùî *assignment 1.2*

```python
a = 100
b = 221
```
1. create new variable `c` which stores the sum of `a` and `b`
2. `print` its name and value

In [ ]:
# your code

---
# COMMON OPERATIONS

Python natively supports all common arithemtic operations.

# arithmetic operators


| Operator         | Description                | Example                |
|------------------|----------------------------|------------------------|
| `+`              | Addition                   | `x + y`                |
| `-`              | Subtraction                | `x - y`                |
| `*`              | Multiplication             | `x * y`                |
| `/`              | Division                   | `x / y`                |
| `%`              | Modulus (remainder)        | `x % y`                |
| `**`             | Exponentiation             | `x ** y`               |

In [19]:
# assign variables x,y
x = 12
y = 5

In [14]:
addition = x + y
print('result of addition = ', addition)

result of addition =  17

In [93]:
multiplication = x * y
print('result of multiplication = ', multiplication)

result of multiplication =  60

In [18]:
modulus = x % y
print('result of modulus = ', modulus)

result of modulus =  2.5

In practive, numerical data is more often represented by **floats**.    
üí° Be aware, that floats are prone to rounding errors when comparing them directly.

### Comparison Operators

Python comparison operators, well, allows you to compare values on either sides of the expression.   
They return Boolean values only: `True`, `False`

| Operator         | Description                | Example                |
|------------------|----------------------------|------------------------|
| `==`             | Equal to                   | `a == b`               |
| `!=`             | Not equal to               | `a != b`               |
| `>`              | Greater than               | `a > b`                |
| `<`              | Less than                  | `a < b`                |
| `>=`             | Greater than or equal to   | `a >= b`               |
| `<=`             | Less than or equal to      | `a <= b`               |

In [94]:
# let's check equality operator
a = 36
b = 12 * 3 
a == b

True

In [97]:
# is a greater than b?
a > b

False

In [98]:
# is a greater or equal to b?
a >= b

True

In [26]:
a = 85
b = '85'
a == b # why is it false?

False

In [27]:
a != b

True

### ‚ùî  *assignment 2.1*

recreate `greeting` using `str1` and `str2`   
you are allowed to modify strings and use all other string methods

In [104]:
greeting = 'Hello World!'

str1 = 'Hello' 
str2 = 'world'

In [106]:
str1 + ' ' + str2

'Hello World!'

---
# DATA STRUCTURES

Python has great arsenal of data structures to hold collection of values. 

| Data Structure   | Description                                       | Example                   |
|------------------|---------------------------------------------------|---------------------------|
| List             | Ordered collection of elements, mutable           | `[1, 2, 3]`               |
| Tuple            | Ordered collection of elements, immutable         | `(1, 2, 3)`               |
| Set              | Unordered collection of unique elements           | `{1, 2, 3}`               |
| Dictionary       | Collection of key-value pairs                    | `{'name': 'John', 'age': 30}` |

üì¢ Python index elements of data starting from **0**. So called zero-based indexing.   
In contrast, Fortran starts indexing at 1.  

**Mutable object** - can be changed after creation - we can delete, or add new values to `[list]`   
**Immutable object** - cannot be modified after creation (we cannot delete or add objects to `(tuple)`

üö´ DO NOT name your data structure with standard names:

```python
list     = [1,2,3] # wrong
my_list  = [1,2,3] # correct
int_list = [1,2,3]

list() is a reserved conversion operation
int_tuple = (1,2,3)         # immutable
int_list  = list(int_tuple) # now mutable
```

## LISTS

üí° Lists are ordered and mutable. They are very useful for colleting data which should be dynamically modified.    

```python
my_list  = [1,2,3] 
```


| Python Operation               | Description                                        | Result                          |
|--------------------------------|----------------------------------------------------|---------------------------------| 
| `my_list.append(4)`            | Append an Element                                  | `[1, 2, 3, 4]`                  |
| `my_list.insert(1, 5)`         | Insert an Element at position 2                    | `[1, 5, 2, 3]`                  |
| `my_list.remove(3)`            | Remove an Element by Value                         | `[1,2]`                         |
| `index = my_list.index(2)`     | Find the Index of an Element                       | `index is now 3`                |
| `my_list.sort()`               | Sort the List in Ascending Order                   | `[1, 2, 3]`                     |
| `my_list.reverse()`            | Reverse the List                                   | `[3, 2, 1]`                     |
| `len(my_list)`                 | Length of list                                     | `3`                            |

üì¢ In this tutorial, almost all tables contain only most common and important operations.   
For more information, consult official Python docs, books or online tutorials.

In [124]:
makes = ['audi', 'bmw', 'toyota', 'subaru']
makes.append('kia') # append modifies list in-place: no = assignment operator
makes

['audi', 'bmw', 'toyota', 'subaru', 'kia']

In [125]:
#alternatively
makes = ['audi', 'bmw', 'toyota', 'subaru']
makes = makes + ['kia'] # the same as append, but not in-place
makes

['audi', 'bmw', 'toyota', 'subaru', 'kia']

In [123]:
makes.reverse() # another in-place method
makes

['kia', 'subaru', 'toyota', 'bmw', 'audi']

## INDEXING and SLICING

**Indexing** and **slicing** allows to check, extract and modify common data structures.   
üì¢ Those are **very common** operations. Practice to master them!

```python
my_list = [10, 20, 30, 40, 50]
```

| Concept                      | Description                                       | Example                                      |
|------------------------------|---------------------------------------------------|----------------------------------------------|
| Indexing                     | Accessing a single element by its position        | `element = my_list[1]`<br>`# element is now 20`                        |
| Negative Indexing            | Accessing elements from the end with negative indices | `element = my_list[-1]`<br>`# element is now 50`                        |
| Slicing                      | Extracting a portion of a sequence    | `subset = my_list[1:4]`<br>`# subset is [20, 30, 40]`                 |
| Slicing with Steps           | Extracting elements with a step (stride)           | `subset = my_list[1:-1:2]`<br>`# subset is [20, 40]`                    |
| Omitting Start or End Index  | Using default start or end indices in slicing     | `subset = my_list[:3]`<br>`# subset is [10, 20, 30]`                 |
| Slicing to the End           | Slicing from a specific index to the end          | `subset = my_list[2:]`<br>`# subset is [30, 40, 50]`                 |
| Slicing with Negative Index  | Using negative indices in slicing                  | `subset = my_list[-3:-1]`<br>`# subset is [30, 40]`                   |
| Reversing a Sequence         | Reversing a list or string using slicing           | `reversed_list = my_list[::-1]`<br>`# reversed_list is [50, 40, 30, 20, 10]` |

In [46]:
# access the first element of the list
makes = ['audi', 'bmw', 'toyota', 'subaru', 'kia']

print('first element of the list =',makes[0])
print('last element of the list =',makes[-1])

first element of the list = audi
last element of the list = kia

In [108]:
# let's select every other make
print('every other element of the list =',makes[::2])

every other element of the list = ['audi', 'toyota', 'kia']

In [111]:
# let's now insert new make at the begginig of the list
makes.insert(0, 'ford')
makes

['ford', 'audi', 'bmw', 'toyota', 'subaru', 'kia']

In [113]:
# INDEXING ALLOWS to REASSIGN VALUES

makes[0] = 'mazda' 
makes

['mazda', 'audi', 'bmw', 'toyota', 'subaru', 'kia']

### ‚ùî  *assignment 3.1*

create a list named `my_list` and containing numbers 10, 20, 30, 40, 50 and perform the following tasks:

a.   append the number 60 to the list.  
b.   insert the number 0 at the beginning of the list.  
c.   remove the number 30 from the list.  
d.   print the modified list.

In [ ]:
# your code

### ‚ùî  *assignment 3.2*

You are preparing a fruit plate for the party. Your friend gave a shopping list in form of a tuple (well, he is a weirdo).    
`fruits = ('apples', 'bananas', 'kiwis', 'peaches')`  

a. You recall that one of the guests is allergic to kiwi.   
b. You also want to add grapes.   
c. Produce section is organized in alphabetical order.   

Create a perfect grocery list!

In [ ]:
# your code

---
### LOOPS and EXECUTION FLOW

"if statements" are the staple of programming. They control how the code is executed based on whether a condition is met:

Typical sontruction is:

```python
if <something>:        
    execute code 
elif <something 2>:     # elif is optional
    execute another code
else:                 
    pass 

```
üì¢ Indentation is superimportant in Python. It contols what will be executed. 
Note how expression under `if` etc are indented.

In [126]:
a = 5
b = 10

if a > b: 
    print('a is greater than b!')
else:
    print('a is smaller than b!')

a is smaller than b!

#### LOGICAl OPERATORS

Logical operators often augment control over the workflow.

| Operator         | Description                | Example                |
|------------------|----------------------------|------------------------|
| `and`            | Logical AND                | `p and q`              |
| `or`             | Logical OR                 | `p or q`               |
| `not`            | Logical NOT                | `not p`                |

In [128]:
# let's make sure that at least either a or b is greater than 7
a = 5
b = 10
if a > 7 or b > 7: #  NOTE that we need to use logical operators for each variable! if a or b > 7 will always be true
    print('a or b is greater than 7')
else:
    print('a or b is smaller than 7')

a or b is greater than 7

### ‚ùî  *assignment 4.1*

In [ ]:
# a = 4
# b = 6

#### FOR LOOPS

In Python, a **for loop** is a control structure that allows you to iterate (loop) over a sequence of items, such as a list, tuple, string, or range.    
It's a fundamental construct used for repetitive tasks like processing elements in a collection, performing calculations, or executing something a specific number of times.

```python
for x in range(start, end, step):  # range creates sequence
    do something
```




```

In [130]:
for x in range(5):  # range creates sequence
    print(x)

0
1
2
3
4

üí° for loops are often combined with the conditional logic:

In [131]:
for x in range(5):  # range creates sequence
    if x == 3:
        print(x)

3

üí° `in` and `not in` are membership operators meaning: **for every x that is in data** or (is not)

In [136]:
# say you want to check if a fruit in one list is in another list

fruits1 = ['apples', 'bananas', 'kiwis', 'peaches']
fruits2 = ['grapes', 'apples']

for f in fruits2:
    if f not in fruits1:
        print('new fruit =', f)

new fruit = grapes

üí° # while loop

## DICTONARIES

üí° Dictionaries are **mutable**. Starting from Python 3.7 they are also ordered.    

Dictionaries to store data values in *key* : *value* pairs.

``` prices = {

}```

| Python Syntax              | Description                        | Result for a Specified Dictionary  |
|----------------------------|------------------------------------|-----------------------------------|
| `{}`                       | Create an empty dictionary         | `{}`                              |
| `{'key': 'value'}`         | Create a dictionary with a key-value pair | `{'key': 'value'}`          |
| `my_dict['key']`           | Access a value by key              | `my_dict['key']`                  |
| `my_dict['new_key'] = 'new_value'` | Add a new key-value pair     | `{'key': 'value', 'new_key': 'new_value'}` |
| `del my_dict['key']`       | Remove a key-value pair            | `{'new_key': 'new_value'}`        |
| `'key' in my_dict`         | Check if a key exists              | `True` or `False`                 |
| `my_dict.keys()`           | Get a list of keys                 | `['key', 'new_key']`              |
| `my_dict.values()`         | Get a list of values               | `['value', 'new_value']`          |
| `my_dict.items()`          | Get a list of key-value pairs     | `[('key', 'value'), ('new_key', 'new_value')]` |
| `len(my_dict)`             | Get the number of key-value pairs  | `2`                               |
| `my_dict.clear()`          | Clear all key-value pairs         | `{}`                              |
| `new_dict = my_dict.copy()`| Create a shallow copy              | A copy of the original dictionary  |

In [109]:
### ‚ùî*assignment 4*

In [88]:
my_list[None:None:-1]

[50, 40, 30, 20, 10]

In [107]:
# string concatenation inb the beggining, string methods
# numpy, cclib, ase

In [ ]:
# TUPLES

In [ ]:
#SET

# DICTIONARIES

In [ ]:
# FUNCTIONS
# identation 
# no end if

In [ ]:
#CLASSES

data types

integer

In [ ]:
5

5

In [ ]:
5 + 7

12

In [ ]:
a = 5 + 7

In [ ]:
print(a)

12

float

string

Classes

numpy arrays